@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #1bcbee;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}

/*Added Styling for a nice button for minting*/
.nice-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.nice-button:hover {
  background-color: #45a049;
  /* Darker Green */
}

.nice-button-disconnect {
  background-color: #af4c8e;
  /* Purple */
  border: none;
  color: white;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.nice-button-disconnect:hover {
  background-color: #af4c8e;
  /* Purple */
}

/* Additional styles for disabled state */
.nice-button[disabled] {
  background-color: #555;
  /* Green */
  cursor: not-allowed;
  /* Change cursor to indicate disabled state */
}

/*Added Styling for a nice input bar for entering the token amount*/
.nice-input {
  background-color: #f2f2f2;
  /* Light grey */
  border: none;
  color: #333;
  /* Dark grey */
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  margin: 4px 2px;
  transition: background-color 0.3s ease;
}

.nice-input:focus {
  outline: none;
  background-color: #e0e0e0;
  /* Lighter grey on focus */
}

/*Added Styling for showing a nide percentage slider for overall token sale*/
.progress-container {
  width: 100%;
  background-color: #f0f0f0;
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  /* Green */
  border-radius: 10px;
  width: var(--progress, 0%);
  transition: width 0.5s ease;
}

/* Add this new class to your CSS file */
.mobile-message {
  /* Your desired styling for the mobile message, such as text color, font size, etc. */
  color: #a94442;
  /* Example: Reddish color for emphasis */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  /* Example: Add some padding */
}